* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: Arial;
	font-size: 14px;
}

html, body {
	width: 100%;
	height: 100%;
	/* 
    visina body i html elementa se obično NE zadaje.
    Ovde je zadata da bi velicina .cover elementa mogla biti u %
	*/
}

h1 {
	font-size: 60px;
	font-weight: 700; 
}

h2 {
	font-size: 48px;
	font-weight: 700;
}

  /*--------------*/
 /*    HEADER    */
/*--------------*/
header {
	position: fixed;
	width: 100%;
	background: #ff6835;
	height: 70px;
	z-index: 99; /* Ima max prednost za prikaz nad drugim absolute, fixed itd. elementima. */
}

.logo img {
	padding-left: 50px;
	float: left;
}

nav.mainNav {
	width: 100%;
}

nav.mainNav ul {
	list-style: none;
/*	background: #ff6835;*/ /* boja pozadine je proradila u header elementu */
	color: white;
	text-align: center;
	float: right;
	padding-right: 50px; /* da bi se cijeli nav element odvojio od desne ivice */
}

nav.mainNav ul li {
	display: inline-block;
	padding: 28px 10px; /*  padding mora da se stavi u list elemente da bi se prenio na header, tj. da njegova visina zavisi od elemenata navigacije. */
 	text-transform: uppercase;
}

nav.mainNav ul li a {
	text-decoration: none;
	color: inherit;
	padding: 28px 8px;
}

nav.mainNav ul li a:hover {
	background: #ff865d;
	padding: 28px 8px 25px 8px;
}
/*  Iz nekog razloga je bilo potrebno da svaki LI i A element
    imaju podesen padding.
 */


  /*--------------*/
 /*    COVER     */
/*--------------*/
.cover {
	width: 100%;
	height: 100%;
	background: url('../img/bkg.png');
	background-size: cover;
	background-position: 0px 70px; /* Da ne bi otislo ispod header elementa */
	text-align: center;	
}

.coverText {
	position: absolute;
	top: 47%;
	left: 50%;
	transform: translate(-50%, -50%); /* Nisam morao da koristim position: relative u roditeljskom elementu (header { z-index:99; } */
}

.coverText h1 {
	color: white;
	padding-bottom: 25px;
}

.coverText a {
	width: 200px;
	height: 50px;
	display: inline-block; /* Da bi A prihvatio width i height mora se deklarisati inline-block*/
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	background: #ff6633;
	padding-top: 15px;
	margin: 0 5px 0 5px;
	border: 2px solid transparent; /* Rjesenje problema sa pomjeranjem. */
}

.coverText a:hover {
	background: rgba(63, 32, 29, 0.5);
	border: 2px solid white;  /* Mora postojati u osnovnom stanju (da nije hover) transparent border da ne bi doslo do pomjeranja. */
}

  /*--------------*/
 /*   OUR WORK   */
/*--------------*/
.ourWork {
	background: white;
}

.ourWork h2 {
	text-align: center;
	color: #ff6835;
}

.flex-container {	/* POCEKAT flexbox */
	padding: 0 28px 50px 28px;
	margin: 0;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
  	display: flex;
  	justify-content: space-around;
}

.wrap {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flex-item {
	width: 25%;
	padding: 22px 22px 11px 22px;
}
/*
.flex-item img:hover {
	display: block;
	<background: url("../img/work.png");
	background-size: cover; */
}	/* KRAJ flexbox */

  /*--------------*/
 /*  WHO ARE WE  */
/*--------------*/
.whoAreWe {
	background: #ff6835;
}

.whoAreWe h2 {
	text-align: center;
	color: black;
}

.flex-container-2 {	/* POCEKAT flexbox */
	/*padding: 0 28px 50px 28px;*/
	margin: 0;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
  	display: flex;
  	justify-content: space-around;
}

.wrap-2 {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flex-item-2 {
	width: 50%;
	/*padding: 22px 22px 11px 22px;*/
}	/* KRAJ flexbox */